footer.speedometer.content-block
  .row
    .small-8.medium-4.columns
      include speedometer.pug
    .small-8.medium-4.columns
      h2
        | Мой уровень владения <br />
        | Java Script
      .skill-level#skill-level 954