header.candidate.content-block
  .row
    .small-8.medium-2.columns
      picture.candidate-photo
        img(srcset="images/photo@1x.jpg 1x, images/photo@2x.jpg 2x" src="images/photo@1x.jpg" alt="Лысый и великолепный")
    .small-8.medium-6.columns
      label
        input(type="text" placeholder="Имя")
      label
        input(type="text" placeholder="Дата рождения")
      label
        input(type="text" placeholder="Город")
      label
        input(type="text" placeholder="Контактные данные")
  picture.candidate-approved
    img(srcset="images/stamp@1x.png 1x, images/stamp@2x.png 2x" src="images/stamp@1x.png" alt="Пдыщь")