svg.speedometer(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 254 134")
    path(d="M-0.012,127.9A125.712,125.712,0,0,1,49.164,28.26L84.006,70.609C65.348,85.249,55.578,102.557,55.578,127.9H-0.012Z")
    path(d="M55.124,23.961a127.06,127.06,0,0,1,145.817,0L166.423,67c-14.684-9.917-26.3-12.2-38.387-12.2-12.056,0-26.188,4.357-38.352,12.2Z")
    path(d="M205.248,28.26A126.874,126.874,0,0,1,253.04,127.9H199.053c0-25.343-10.4-43.4-27.486-57.291Z")
    path(d="M137.657,129.858a9.154,9.154,0,0,1-12.791,2.581L83.835,95,135.146,116.9h0a9.428,9.428,0,0,1,2.511,12.954h0Z")