.candidate
  position: relative

  &-photo
    position: relative
    display: flex
    overflow: hidden
    margin: rem-calc(10) auto
    width: rem-calc(138)
    height: rem-calc(138)
    border:
      radius: 50%
    align-items: center

    img
      width: 100%

  &-approved
    position: absolute
    right: rem-calc(2)
    bottom: rem-calc(10)
    opacity: 0
    transform: scale(1.5)
    transition: all 0.3s ease-out 0s

    &.true
      opacity: 1
      transform: scale(1)
      transition: all 0.3s ease-out 0s
