.speedometer
  padding:
    top: rem-calc(map-get($grid-column-gutter, small))*5
    bottom: rem-calc(map-get($grid-column-gutter, small))*5
  +breakpoint(medium)
    text-align: left
  +breakpoint(small)
    text-align: center

  &-graph
    max-width: rem-calc(255)

.level-1
  fill: $color-yellow

.level-2
  fill: $color-green

.level-3
  fill: $color-blue

.arrow
  fill: $black
  transform-origin: 85% 49%
  transition: transform .5s ease-out 0s

.skill-level
  color: $color-blue
  font:
    weight: 900
    size: rem-calc(50)
  line-height: 1