include pug/project-settings.pug
include pug/mixins/mixins.pug

doctype html
html
  head(lang="en")
    include pug/metatags.pug
    +title('Главная')
    include pug/styles.pug
  body
    .site-container
      include pug/includes/header.pug
      include pug/includes/section-skills.pug
      include pug/includes/footer.pug
    include pug/svg.pug
    include pug/scripts.pug
